<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.jq" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sunny</name>
    <description>
        De SMART-Wasknijper app
    </description>
    <author email="support@inf1a.com" href="http://inf1a.com">
        INF1A Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-mqtt" spec="~0.3.8" />
    <plugin name="cordova-plugin-qrscanner" spec="^2.5.0" />
</widget>
