/* general */
/*----------------*/
*{
  padding:0px;
  margin:0px;
}

.clearfix:after, .setting:after, .week:after{
  content: "";
  display: table;
  clear: both;
}

table{
  border-spacing:0;
}

body{
  background-color:#e6ecf7;
  font-family: 'Montserrat', sans-serif;
  color:white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
}

hr{
  border:1px solid #ffbb00;
}

h2{
  font-size:8vw;
}

#logo{
  float:left;
  height:inherit;
  width:auto;
  min-height:50px;
  margin-left:10px;
  z-index:2;
  opacity:0.99;
}
#title{
  float:left;
  padding-left:50px;
  padding-right:2vw;
  background-color:#ffbb00;
  margin-top:0.65vh;
  height:calc(8vh - 1.2vh);
  width:30vw;
  min-height:40px;
  min-width:150px;
  margin-left:-40px;
}
#settingsButton{
  float:right;
  margin-right:1vw;
  margin-top:2px;
  height:50px;
  width:50px;
}
#header{
  height:8vh;
  min-height:50px;
}

/*weather summary*/
/*------------*/
#weather, #weatherDay, #weatherWeek{
  font-size:3.2vw;
  padding:10px;
  margin-top:1vh;
  margin-left:10vw;
  border:3px solid #ffbb00;
  border-right:none;
  width:calc(90vw -2px);
  background-color:rgba(0, 0, 0, 0.3);
}

#weather:active{
  border-color:#ffce47;
  box-shadow: 0 0 7px 0 #ffce47;
  border-right:none;
}

#weatherDay{
  border-left:none;
  border-right:none;
  margin-left:0;
}

#weatherWeek{
  border-left:none;
  border-right:3px solid #ffbb00;
  margin-left:0;
  width:70vw;
}

.weatherIcon{
  margin-left:10px;
  width:20%;
  height:auto;
  padding:10px;
  background-color:rgba(255, 255, 255, 0.3);
}

#weather .weatherIcon{
  float:left;
}

#weatherDescription{
  width:65%;
  float:left;
}

#weather hr, #weatherDay hr{
  width:70%;
  margin-left:-10px
}

/* day overview */
/*-------------*/
#dayOverview{
  margin:0 auto;
  width:90vw;
  font-size:5vw;
  padding-bottom:7vh;
}

#dayOverview table{
  width:100%;
  border-left:3px solid #ffbb00;
  border-right:3px solid #ffbb00;
  border-bottom: 3px solid #ffbb00;
}
#dayOverview td, #dayOverview th{
  width:25%;
  padding-top:5vh;
  padding-bottom:5vh;
  border-bottom:2px rgba(0, 0, 0, 0.3) solid;
  text-align:center;
}

#dayOverview td:nth-child(odd), #dayOverview th:nth-child(odd){
  background-color:rgba(0, 0, 0, 0.3);
}

#dayOverview td:nth-child(even), #dayOverview th:nth-child(even){
  background-color:rgba(0, 0, 0, 0.4);
}

/*weather stats*/
/*---------------*/
#weatherStats{
  margin-top:2vh;
  width:100%;
  float: left;
}

.wstatVal{
  text-align:center;
  float:left;
  font-size:15pt;
  width:15vw;
  height:28px;
  padding-top:2px;
  /*padding: 1vh 5vw 1vh 5vw;*/
  margin-top:2vh;
  background-color:rgba(255, 255, 255, 0.3);
  z-index:1;
  border-top-right-radius:35px;
  border-bottom-right-radius:35px;
}

.statIcon{
  background-color:rgba(255, 255, 255, 0.3);
  height:26px;
  float:left;
  margin-top:2vh;
  margin-left:2vw;
  padding:2px;
}

/*progress circle */
/*---------------------*/
#circle{
  margin: 20px auto 10px;
  border:1px solid blue;
  width:90vw;
  height:90vw;
}
/*page marker*/
/*-----------------------*/
#pageMarker{
  height:inherit;
  width:15vw;
  padding-left:10vw;
  padding-right:10vw;
  padding-top:1vh;
  padding-bottom:2vh;
  background-color:#ffbb00;
  z-index:10;
  position:fixed;
  bottom:0;
  left:32.5vw;
}
.pageSelector{
  width:5vw;
  height:5vw;
  border-radius:50%;
  background-color:#fcd464;
  float:left;
}

.pageSelected{
  background-color:white;
}

/*week overview*/
/*-----------------------*/
#weekOverview{
  padding-bottom:7vh;
}

.week{
  text-align:center;
  margin:2vh auto;
  width:60%;
  background-color:rgba(0, 0, 0, 0.3);
  border:3px solid #ffbb00;
  padding:10px;
}

.week #weatherStats{
  width:50%;
  margin-left:30%;
}

.weekIcon{
  width:50%;
}

/* settings menu */
/*----------------*/
/* background */
#settingsBG{
  background-color:#272b33;
}

.setting:nth-child(odd){
  background-color:#3d424c;
}
/* divs & text */
.setting{
  width:calc(100vw - 10px);
  min-height:12vh;
  padding:5px;
}

.setting input, .setting h2, .setting p{
  float:left;
}
.setting p{
  font-size:4vw;
}

.setting h2, .setting p{
  width:70%;
  margin-bottom:1vh;
  overflow:hidden;
  word-wrap: break-word;
}

/* toggle buttons */
.settingToggle {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
 margin-top:3vh;
}

.settingToggle input {display:none;
}

.toggleButton {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 transition: .4s;
 border-radius: 34px;
}

.toggleButton:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 transition: .4s;
 border-radius: 50%;
}

input:checked + .toggleButton {
 background-color: #ffbb00;
}

input:checked + .toggleButton:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* text input */
.setting input[type=text]{
  width:80vw;
  border-radius: 34px;
  color:black;
  padding:5px;
  padding-left:15px;
}
/*--------------------*/
